%card-item {
  position: relative;
  height: 220px;
  padding: 1.5rem 0;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

%card-item-top-color {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

.followers {
  margin-bottom: 3rem;
  @include media(0, $max-md) {
    row-gap: 1.5rem;
  }

  &__user {
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: center;
  }

  &__number {
    font-size: 3.5rem;
  }

  &__username {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-color-secondary);
  }

  &__text {
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--text-color-secondary);
  }

  &__card-fb {
    @extend %card-item;
  }

  &__card-fb::before {
    @extend %card-item-top-color;
    background-color: var(--facebook);
  }

  &__card-tw {
    @extend %card-item;
  }

  &__card-tw::before {
    @extend %card-item-top-color;
    background-color: var(--twitter);
  }

  &__card-ig {
    @extend %card-item;
  }

  &__card-ig::before {
    @extend %card-item-top-color;
    background-image: var(--instagram);
  }

  &__card-yt {
    @extend %card-item;
  }

  &__card-yt::before {
    @extend %card-item-top-color;
    background-color: var(--youtube);
  }
}
